/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.print-only {
    display: none;
}

@media print {
    .print-only {
        display: block !important;
    }
    .print-page-break {
        page-break-before: always;
    }
}
